   /*************** Nav bar sign up button  **************/
   .sign-up-button {
    cursor: pointer;
    font-weight: 900;
    font-family: Helvetica, "sans-serif";
    transition: all .2s;
    padding: 5px 15px;
    border-radius: 100px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 5px;
    position: absolute;
}

.sign-up-button:hover {
    background: #414141;
}

.sign-up-button > svg {
    width: 54px;
    transition: transform .3s ease-in-out;
}

.sign-up-button:hover svg {
    transform: translateX(5px);
}

.sign-up-button:active {
    transform: scale(0.95);
}
   /********************************************************** hero banner **********************************************************************/

.bg-img {
    height: 350PX;
}

.how-it-works-heading {
    position: absolute;
    top: 150px;
    left: 90px;

}

.how-it-works{
    position: absolute;
    top: 300px;
    left: 100px;
}
 
.traning-program-text{
    position: absolute;
    top: 300px;
    left: 1130px;
}
.hr{
    position: absolute;
    top: 280px;
    color: #000000;
    /* left: 1130px; */
}

/* /************************************** end of herro banner ************************** / */

/* <!-- first step --> */

.signup-text{
    position: absolute;
    top: 500px;
    left: 750px;
}
.number1{
    position: absolute;
    top: 520px;
    left: 690px;
}

/* <!-- second step --> */
.profile-text{
    position: absolute;
    top: 650px;
    left: 620px;
}
.number2{
    position: absolute;
    top: 660px;
    left: 760px;
}

/* <!-- Thired step --> */
.enrollment-text{
    position: absolute;
    top: 800px;
    left: 760px;
}
.number3{
    position: absolute;
    top: 800px;
    left: 690px;
}

/* <!-- Fourth step --> */
.start-study-text{
    position: absolute;
    top: 940px;
    left: 630px;
}
.number4{
    position: absolute;
    top: 950px;
    left: 760px;
}

/* <!-- Fifth step --> */
.assessments-text{
    position: absolute;
    top: 1080px;
    left: 750px;
}
.number5{
    position: absolute;
    top: 1090px;
    left: 690px;
}

/* <!-- Sixth step --> */
.complete-courses-text{
    position: absolute;
    top: 1220px;
    left: 630px;
}
.number6{
    position: absolute;
    top: 1230px;
    left: 750px;
}  

/* <!-- Seventh step --> */
.get-certificate-text{
    position: absolute;
    top: 1360px;
    left: 760px;
}
.number7{
    position: absolute;
    top: 1370px;
    left: 690px;
}
/*/************************************** side icons /***************************************/

.signup-icon{
    position: absolute;
    top: 470px;
    left: 950px;
}
.yt-icon1{
    position: absolute;
    top: 85px;
    left: 50px;
}

.profile-icon{
    position: absolute;
    top: 600px;
    left: 400px;
}
/*  
.profile-icon-text{
    position: absolute;
    top: px;
    left: px;

} */
.enrollment-icon{
    position: absolute;
    top: 760px;
    left: 950px;
}
.study-icon{
    position: absolute;
    top: 900px;
    left: 390px;
}
.yt-icon2{
    position: absolute;
    top: 85px;
    left: 72px;
}
.assessments-icon{
    position: absolute;
    top: 1060px;
    left: 950px;
}

.completion-icon{
    position: absolute;
    top: 1200px;
    left: 390px;
}
.certificate-icon{
    position: absolute;
    top: 1350px;
    left: 950px;
}